/* marvel comics red: #ed1d24 */

body {
    background: url("../images/bg-marvel.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    line-height: 1.5em;
    color: #41414c;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #666666;
    color: #8d8d8d;
    height: 3em;
    padding: 1em;
}

.navbar {
    color: #eff0f1;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 50px;
}

#header {
    margin-top: 5em;
    padding: 5px;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #ed1d24;
    font-size: 60px;
    text-shadow: 0 0 7px #000000;
}

.game-here {
    border: solid #ed1d24 3px;
    
    background-color: rgba(238, 238, 238, 0.81) !important;
    /* background-image: url('http://placekitten.com/1500/1000'); */
    background-blend-mode: color;
}


.col-sm {
    /* border: solid #ed1d24 1px; */
    /* margin-bottom: 50px; */
    padding: 10px;
}
/* make the footer below everything */
#bottom-row {
    margin-bottom: 50px;
}
/* center the header */
#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* sticky footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #666666;
    color: #8d8d8d;
    text-align: center;
    font-size: 15px;
    /* height: 10%; */
    margin-top: 100px;
    /* no top margin found when window resized */
}
/* same hover effects as portfolio */
a:hover {
    text-shadow: 0 0 5px #b89fbd;
    text-decoration: none;
    color: currentColor;
}
a {
    color:inherit; 
}
/* button style */
button{
    border : solid 1px white;
    padding: 18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
}



.alphabet {
    margin:15px auto;
    padding:0;
    max-width:900px;
}
.alphabet li {
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding: 5px;
    background: white;
    cursor:pointer;
    border: solid 1px white;
    color: #ed1d24;
}
      
/* #alphabet li:hover{
    border: solid 1px white;
    color: #ed1d24;
} */
.letter {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

#hero-name {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
    color: #41414c;
  }
#hero-name li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
    color: #41414c;
    
  }


  /* active functions- on click, make it black */
li.thisclicked{
    /* opacity: 50%; */
    background: black;
    border: solid 1px #ed1d24;
    cursor: default;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}